
@{
    Layout = null;
}

@{
    ViewData["Title"] = "LoginUser";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login User Application Page</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/webpanel/css/simple-sidebar.css" rel="stylesheet">
    <link href="~/webpanel/css/site.css" rel="stylesheet">

</head>

<body>


    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Menü</div>
            <div class="list-group list-group-flush">
                <a asp-action="Index" asp-controller="User" class="list-group-item list-group-item-action bg-light">Home</a>
                <a asp-action="NewRequest" asp-controller="User" class="list-group-item list-group-item-action bg-light">Create New Request</a>
                <a asp-action="MyRequests" asp-controller="User" class="list-group-item list-group-item-action bg-light">My Requests</a>

            </div>
        </div>
        <!-- /#sidebar-wrapperr -->
        <!-- Page Content  -->

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ViewBag.UserInfo
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Login/LogOut">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">

                @RenderBody()


            </div>
        </div>
        <!-- /#page-content-wrapper  -->
    </div>
    <!-- /#wrapper  -->
    <!-- Bootstrap core JavaScript  -->

    <script src="~/webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script  -->

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });</script>

</body>

</html>


