@model Data.Models.User
<div class="pop-up">
    <div id="small-dialog" class="mfp-hide book-form">
        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Register form user</h3>
                <div class="login-agileits-top">
                    <form asp-action="_PRegister" asp-controller="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="text" class="name" asp-for="FirstName" Placeholder="First Name" required="" />
                        <input type="text" class="name" asp-for="LastName" Placeholder="Last Name" required="" />
                        <input type="email" class="email" asp-for="Email" Placeholder="Email" required="" />
                        <input type="text" class="phone" asp-for="PhoneNumber" Placeholder="Phone Number" required="" />
                        <input type="password" class="password" asp-for="Password" Placeholder="Password" required="" />
                        <input type="submit"value="Register">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>